body{
    background-color: #00A19B;
}
:root{
    h1{
        font-family: Unity Sans TT SemiBold,sans-serif;
    }
    h2{
        font-family: Unity Sans TT SemiBold,sans-serif;
    }
    h3{
        font-family: Unity Sans TT SemiBold,sans-serif;
    }
    p{
        font-family: Unity Sans TT SemiBold,sans-serif;
    }
    a{
        font-family: Unity Sans TT SemiBold,sans-serif;
    }
}
.nav
{
  background-color:#000000 ;
  display: grid;
  grid-column: 1fr 1fr;
  align-items: center;
  height: 8rem;
  color: #C8CCCE;
  font-size: 40px;
  font-family: Unity Sans TT SemiBold,sans-serif;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 75%);
  border-radius: 2rem;
}
.nav-header{
    padding-left: 5%;
}

.nav-op{
    justify-content: space-around;
    align-items: center;
    background-color: #C8CCCE;
    padding: 15px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    
}