<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/works.css">
    <script src="/static/js/works.js"></script>
    <title>Works</title>
</head>
<body>
    <div class="title">
        <h3>
            顯示成果
        </h3>
    </div>
    <section class="photogragh-img" id="section-photograph">
    <div id="photo">
        <input type="button" value="Next picture" onclick="change()">
        <img src="static/images/252086414-000.png" id="photo-img" alt="">
        <input type="button" value="Previous picture" onclick="changep()">
    </div>
  
    </section>
   
</body>
</html>