<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/finalterm.css">
    <title>Works</title>
</head>
<body>
    <div class="title">
        <h3>
            顯示成果
        </h3>
    </div>
    <section class="photogragh-img" id="section-photograph">
    <div id="photo">
        <form action = "/nextpic" method = "POST">
            <input type="button" value="Next picture" onclick="change()" required>
        </form>
        <img src="http://127.0.0.1:5000/252086414-000.png" alt="">
        <input type="button" value="Previous picture" onclick="changep()" required>
    </div>
    </section>
   
</body>
</html>