*
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

:root
{
    --primary: rgb(94, 0, 245);
    --primary-dark: #070085;
    --grey-light: white;
    --grey: #4e8fe9;
    --grey-dark: black;
    --max-width: 1170px;
    --fluid-width: 90vw;
    --border-radius: 0.3rem;
}

body
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: var(--grey-dark);
}

.blogs
{
    padding:  4rem 0;
}

.blogs-center
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width:var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto ;
}

.blogs-center2
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    width:var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

.blog
{
    background-color: whitesmoke;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out all;/*移出移入效果平滑度*/
   /* align-items: center;
    height: 30rem;
    width: 20rem;*/
}

.section-title
{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 2rem;
}

.blog:hover/*移出移入效果*/
{
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.4);
}

.blog-img
{
    width: 100%;
    display: block;
    height:  15rem;
    object-fit: cover;
    border-radius: 1%;
}

.blog-content
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;

}

.blog-content span
{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary);    
}

.blog-content h3
{
    text-transform:capitalize;
    color: var(--primary-dark);
    margin: 0.5rem 0;
    font-size: 22px;
}

.blog-content p
{
    color:var(--grey-dark);
    margin-bottom: 0.2rem;
}

.blog-content a
{
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing:  1px;
}