
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

body
{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, purple, red);
}

.calculator-grid
{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto)repeat(5,100px);
}

.calculator-grid>button
{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid gray;
    outline: none;
    background-color: rgba(255, 235, 255, 75);
}

.calculator-grid>button:hover
{
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s ease-in all;
}

.span-two
{
    grid-column: span 2;
}

.output
{
    display: flex;
    grid-column: 1/-1;
    background-color:rgba(0, 0, 0, 75) ;
    align-items: flex-end;
    justify-items: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand
{
    color: rgba(255, 255, 255, 75);
    font-size: 1.5rem;
}

.output .current-operand
{
    color: rgba(255, 255, 255, .9);
    font-size: 2.5rem;
}
