/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --gpSystemLightestGrey: #DCDEDF;
  -gpSystemLighterGrey: #B8BCBF;
  --gpSystemLightGrey: #8B929A;
  --gpSystemGrey: #67707B;
  --gpSystemDarkGrey: #3D4450;
  --gpSystemDarkerGrey: #23262E;
  --gpSystemDarkestGrey: #0E141B;
  --gpStoreLightestGrey: #CCD8E3;
  --gpStoreLighterGrey: #A7BACC;
  --gpStoreLightGrey: #7C8EA3;
  --gpStoreGrey: #4e697d;
  --gpStoreDarkGrey: #2A475E;
  --gpStoreDarkerGrey: #1B2838;
  --gpStoreDarkestGrey: #000F18;
  --gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
  --gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
  --gpColor-Blue: #1A9FFF;
  --gpColor-BlueHi: #00BBFF;
  --gpColor-Green: #5ba32b;
  --gpColor-GreenHi: #59BF40;
  --gpColor-Orange: #E35E1C;
  --gpColor-Red: #D94126;
  --gpColor-RedHi: #EE563B;
  --gpColor-DustyBlue: #417a9b;
  --gpColor-LightBlue: #B3DFFF;
  --gpColor-Yellow: #FFC82C;
  --gpColor-ChalkyBlue: #66C0F4;
  --gpBackground-LightSofter: #6998bb24;
  --gpBackground-LightSoft: #3b5a7280;
  --gpBackground-LightMedium: #678BA670;
  --gpBackground-LightHard: #93B8D480;
  --gpBackground-LightHarder: #aacce6a6;
  --gpBackground-DarkSofter: #0e141b33;
  --gpBackground-DarkSoft: #0e141b66;
  --gpBackground-DarkMedium: #0e141b99;
  --gpBackground-DarkHard: #0e141bcc;
  --gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
  --gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
  --gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
  --gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
  --gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);
  --gpCorner-Small: 1px;
  --gpCorner-Medium: 2px;
  --gpCorner-Large: 3px;
  --gpSpace-Gutter: 24px;
  --gpSpace-Gap: 12px;
  --gpNavWidth: 240px;
  --gpPaymentsNavWidth: 340px;
  --gpDselectWidth: 340px;
  --gpSidePanelWidth: 340px;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: linear-gradient(var(--gpStoreDarkerGrey),var(--clr-white));
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:var(--gpColor-Yellow);
  font-family: 'Raleway', sans-serif;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;  
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-grey {
  background: var(--clr-grey-10);
}

/*
===================
NavBar
===================
*/
.nav
{
  display: flex;
  align-items: center;
  height: 8rem;
  border-bottom: 1px var(--gpBackground-DarkMedium);
  background-color: var(--gpStoreDarkerGrey);
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 75%);
  border-bottom-style: dashed;
}

.nav-center
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--clr-primary-2);
  cursor: pointer;
}

.nav-header h3
{
  padding-top: 00.75rem;
  padding-left: 2rem;
  padding-right: 6px;
  border: 1px dashed var(--gpColor-DustyBlue);
  text-shadow: 1px 1px var(--gpStoreLightestGrey);
  background-color:var(--clr-grey-4);
  border-radius: 1rem;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
  color: var(--clr-primary-5);
  font-family: 'Raleway', sans-serif;
}

.nav-links
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.nav-links li:hover,.nav-links li.active
{
  background-color: var(--gpColor-DustyBlue);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2rem;
  color: var(--gpColor-LightBlue);
}

.navbar-fixed 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gpStoreDarkerGrey);
  z-index: 2;
  box-shadow: var(--light-shadow);
}

 .show-classdemo
{
  width: 100vw;
  height:80rem
}

/*
===================
resume
===================
*/
*
{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}



.resume-profile
{
  display: inline-block;
  width: 100vw;
  height: 50rem;
  background-image: url(/images/backgroundgif2.gif);
  background-size: cover;
  background-position: center;
}
.resume-me
{
  position: absolute;
  top: 30%;
  left: 44.1%;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  z-index: 9999;
  transition: all .3s ease-out;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
}

.resume-me:hover {
  transform: scale(1.06, 1.06);
}
#resume-name
{
  font-family: var(--ff-secondary);
  position: absolute;
  top: 55.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  color: var(--clr-primary-4);
}
#resume-contain{
  font-family: var(--ff-primary);
  position: absolute;
  top: 60.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  color: var(--clr-primary-7);
}

.btn-container
{
  position: absolute;
  top: 65%;
  left: 40%;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  height: 60px;
  width: 20rem;
  margin: 0 auto ;
}

.resume-btn
{
  background-color: #B3DFFF;
  border-radius: 20%;
}

.resume-btn:hover
{
  background-color: whitesmoke;
}
#github-logo-img
{
  padding: 15px;
}

.about-blog
{
  background-color: var(--clr-white);
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 50%);
  border: #000F18 1px ;
  border-radius: 2px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 4rem;
}

.about-content
{
  padding-left: 1rem;
  font-size: larger;
}

.about-header
{
  padding-top: 1rem;
  text-shadow: 1px 2px var(--gpStoreGrey);
}

.about-blog
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#bs-info
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ex-header
{
  padding-top: 15rem;
  text-align: center;
  padding-bottom: 8rem;
}

.work-exp-1
{
  display: flex;
  margin-left: 5rem;
  border-radius: 2;
  background-color: var(--clr-white);
}

.ex-blog-right
{
  background: var(--gpStoreLightGrey);
  padding: 2rem;
  text-align: center;
}

#ex-blog-right-1
{
  padding-right: 4rem;
}

.ex-blog-left
{
  padding: 1rem;
}

.work-exp-2
{
  display: flex;
  margin-left: 5rem;
  border-radius: 2;
  background-color: var(--clr-white);
  margin-top: 2rem;
}

.work-exp-2:hover
{
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 50%);
  transition: 0.5s ease-in-out all;
}

.work-exp-1:hover
{
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 50%);
  transition: 0.5s ease-in-out all;
}

.blogs
{
    padding:  4rem 0;
}


.blogs-center2
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    width:var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

.blog
{
    background-color: whitesmoke;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out all;/*移出移入效果平滑度*/
   /* align-items: center;
    height: 30rem;
    width: 20rem;*/
}

.section-title
{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 2rem;
}

.blog:hover/*移出移入效果*/
{
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.4);
}

.blog-img
{
    width: 100%;
    display: block;
    height:  15rem;
    object-fit: cover;
    border-radius: 1%;
}

.blog-content
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;

}

.blog-content span
{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary);    
}

.blog-content h3
{
    text-transform:capitalize;
    color: var(--primary-dark);
    margin: 0.5rem 0;
    font-size: 22px;
}

.blog-content p
{
    color:var(--grey-dark);
    margin-bottom: 0.2rem;
}

.blog-content a
{
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing:  1px;
}

.workshop-header
{
  padding-top: 15rem;
  text-align: center;
  padding-bottom: 8rem;
}